* {
    padding: 0;
    margin: 0;
}

/* - - - -  Banner  - - - - */

.wrapper {
    width: 1440px;
    max-width: 80%;
    margin: 0 auto;
}

#banner {
    background-image: url(images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}

header {
    padding: 2rem 0;
}

#logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 47px;
    height: 43px;
    float: left;
}

nav {
    float: right;
}

#banner nav a {
    margin-left: 4rem;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.content {
    padding: 2rem 0 6rem 0;
    margin-top: 19%;
}

.content p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 1;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    opacity: 0.95;
}

.content p:nth-child(3) {
    margin-top: 0.6%;
    letter-spacing: 0.1rem;
    word-spacing: 0.15rem;
}

.content p a {
    text-transform: capitalize;
    margin-top: 3rem;
    font-size: 0.9rem;
    font-weight: 100;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
    color: white;
    text-align: center;
}

/*
.contact {
    font-family: 'Lato', sans-seri;
    box-shadow: none !important;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-bottom: 8%;
    color: #fcfcfc;
}
*/

.contact {
    border: none;
    text-transform: inherit;
    outline: none;
    background-color: #26af5f;
    color: white;
    padding: 0.6rem 1.3rem;
    border-radius: 0.3rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 8%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.contact:hover {
    background-color: #f53855;
}

/* ---------- Services -----------*/

/*--  Section Title --*/

#services {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 7%;
}

.section_title {
    max-width: 40%;
    min-width: 60%;
    margin: 0 auto;
    color: #464343;
    text-align: center;
    padding-top: 5%;
    font-family: 'montserrat', sans-serif;
}

.section_title p:first-child {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 1;
    line-height: 120%;
    letter-spacing: 0.6px;
    text-align: center;
}

.section_title p:last-child {
    color: balck;
    opacity: 0.8;
    font-size: 14px;
    letter-spacing: 0.6px;
    word-spacing: 1px;
    padding-top: 2%;
}


/*--  Services --*/

.service {
    max-width: 80%;
    margin: auto;
    margin-top: 5%;
}

.web_development,
.ui,
.software_deveopment {
    max-width: 28%;
    background-color: #fff;
    display: inline-block;
    border-radius: 1.8%;
    margin-left: 3%;
    box-shadow: 0 0 25px #bab8b8;
    cursor: pointer;
    transition: all 0.5s;
}

.web_development:hover,
.ui:hover,
.software_deveopment:hover {
    box-shadow: 0px 12px 33px #353535;
    /*box-shadow:  0px 12px 83px #353535;*/
}

.web_development img,
.ui img,
.software_deveopment img {
    display: block;
    margin: auto;
    margin-top: 10%;
}

.web_development h4,
.ui h4,
.software_deveopment h4 {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #2e2e2e;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 4.5%;
}

.web_development p,
.ui p,
.software_deveopment p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 12%;
    padding-right: 6.6%;
    padding-left: 6.6%;
    color: #171717;
    font-weight: 600;
    opacity: 0.5;
}

/* ---   project_section --- +++ && +++ --- Our Team --- */

#project_section {
    background-color: #f8f8f8;
    padding-bottom: 2.5%;
}

.project {
    max-width: 60%;
    margin: auto;
    margin-top: 2.3%;
    padding-bottom: 2%;
}

.project img,
.team img {
    width: 30%;
    /*width: 242px;*/
    height: 30%;
    border-radius: 1.5%;
    margin-left: 2.1%;
    margin-bottom: 1.8%;
    box-shadow: 0 3px 11px 0px #bab8b8;
    transition: all 0.5s;
}

.project a img:hover {
    box-shadow: 0 10px 25px 1px #11b03180;
}

#project_section .btn {
    margin-bottom: 5%;
}

#project_section .btn button {
    border: none;
    text-transform: inherit;
    outline: none;
    background-color: #26af5f;
    color: white;
    padding: 0.6rem 1.3rem;
    border-radius: 0.3rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: 2px solid #26af5f;
    transition: all 0.3s;
}

#project_section .btn button:hover {
    color: #26af5f;
    background-color: #f6f5f5;
    border: 2px solid #26af5f;
    box-shadow: none;
    border-color: #26af5f;
    box-shadow: 0px 6px 30px 3px #bdbdbd;
}

/* --- Our Team --- */

.team {
    max-width: 75%;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 2%;
}

#team_section {
    margin-bottom: 15%;
}

.team_wrapper {
    width: 22.3%;
    height: 30%;
    display: inline-block;
    margin-left: 2.1%;
    position: relative;
    /*overflow: hidden;*/
    transition: all 0.3s;
}

.team_wrapper img {
    width: 100%;
    height: 100%;
}

.team img:hover,
.team_wrapper span:hover ~ img {
    /*box-shadow: 0px 16px 15px -5px #616161;*/
    box-shadow: 5px 22px 60px 0px #959595;
    /* Black in White effect */
    filter: gray;
    /* for IE5+ */
    -webkit-filter: grayscale(1);
    /* chrome */
}

.team_wrapper span {
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    width: 100%;
    position: absolute;
    height: 30%;
    z-index: 2;
    left: 2%;
    /* <==  span tag  */
    top: 67%;
    margin-top: 36.6%;
    transition: all 0.3s cubic-bezier(0.48, 0.01, 0.43, 1.65);
}

.team_wrapper:hover > span {
    opacity: 1;
    /* <==  span tag  hovever */
    display: block;
    margin: 0.2%;
}

.team_wrapper span img {
    /*width: 25px;
    height: 25px;*/
    width: 15%;
    height: 30%;
    display: inline-block;
    margin: auto;
    box-shadow: none;
    margin-left: 5%;
    /*cursor: pointer;*/
}

.team_wrapper span img:hover {
    opacity: 1 !important;
    box-shadow: none;
    filter: none;
    /* for IE5+ */
    -webkit-filter: none;
}

.social {
    max-width: 70%;
    margin: auto;
    font-family: 'montserrat', sans-serif;
}

.social h3 {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    text-transform: capitalize;
}

/*.social img:hover {
    background-color: red; 
}*/
