* {
    padding: 0;
    margin: 0;
}


/* - - - -  Banner  - - - - */

.wrapper {
    width: 1440px;
    max-width: 80%;
    margin: 0 auto;
}

#banner {
    background: url(images/banner1.jpg) no-repeat right;
    background-size: cover;
}

header {
    padding: 2rem 0;
}

#logo {
    background: url(images/logo.png) no-repeat center;
    background-size: cover;
    width: 47px;
    height: 43px;
    float: left;
}

nav {
    float: right;
}

#banner nav a {
    margin-left: 4rem;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.content {
    padding: 2rem 0 6rem 0;
    margin-top: 19%;
}

.content p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 1;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    opacity: 0.95;
}

.content p:nth-child(3) {
    margin-top: 0.6%;
    letter-spacing: 0.1rem;
    word-spacing: 0.15rem;
}

.content p a {
    text-transform: capitalize;
    margin-top: 3rem;
    font-size: 0.9rem;
    font-weight: 100;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
    color: white;
    text-align: center;
}

.contact {
    border: none;
    text-transform: inherit;
    outline: none;
    background-color: #f53855;
    color: white;
    padding: 0.6rem 1.3rem;
    border-radius: 0.3rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 8%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.contact:hover {
    background-color: #26af5f;
}


/* ---------- Services -----------*/


/*--  Section Title --*/

#services {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 7%;
    padding-top: 5%;
}

.section_title {
    max-width: 40%;
    min-width: 60%;
    margin: 0 auto;
    color: #464343;
    text-align: center;
    font-family: 'montserrat', sans-serif;
}

.section_title p:first-child {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 1;
    line-height: 120%;
    letter-spacing: 0.6px;
    text-align: center;
}

.section_title p:last-child {
    color: balck;
    opacity: 0.8;
    font-size: 14px;
    letter-spacing: 0.6px;
    word-spacing: 1px;
    padding-top: 2%;
}


/*--  Services --*/

.service {
    max-width: 80%;
    margin: auto;
    margin-top: 5%;
}

.web_development,
.ui,
.software_deveopment {
    max-width: 28%;
    background-color: #fff;
    display: inline-block;
    border-radius: 1.8%;
    margin-left: 3%;
    box-shadow: 0 0 25px #bab8b8;
    cursor: pointer;
    transition: all 0.5s;
}

.web_development:hover,
.ui:hover,
.software_deveopment:hover {
    box-shadow: 0px 12px 33px #353535;
    /*box-shadow:  0px 12px 83px #353535;*/
}

.web_development img,
.ui img,
.software_deveopment img {
    display: block;
    margin: auto;
    margin-top: 10%;
}

.web_development h4,
.ui h4,
.software_deveopment h4 {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #2e2e2e;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 4.5%;
}

.web_development p,
.ui p,
.software_deveopment p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 12%;
    padding-right: 6.6%;
    padding-left: 6.6%;
    color: #171717;
    font-weight: 600;
    opacity: 0.5;
}


/* ---   project_section --- +++ && +++ --- Our Team --- */

#project_section {
    background-color: #f8f8f8;
    padding-bottom: 2.5%;
    padding-top: 5%;
}

.project {
    max-width: 60%;
    margin: auto;
    margin-top: 2.3%;
    padding-bottom: 2%;
}

.project img,
.team img {
    width: 30%;
    /*width: 242px;*/
    height: 30%;
    border-radius: 1.5%;
    margin-left: 2.1%;
    margin-bottom: 1.8%;
    box-shadow: 0 3px 11px 0px #bab8b8;
    transition: all 0.5s;
}

.project a img:hover {
    box-shadow: 0 10px 25px 1px #11b03180;
}

#project_section .btn {
    margin-bottom: 5%;
}

#project_section .btn button {
    text-transform: inherit;
    outline: none;
    background-color: #26af5f;
    color: white;
    padding: 0.3rem 0.7rem;
    border-radius: 0.3rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: 2px solid #26af5f;
    transition: all 0.3s;
    font-weight: 400;
}

#project_section .btn button:hover {
    color: #26af5f;
    background-color: #f6f5f5;
    border: 2px solid #26af5f;
    box-shadow: none;
    border-color: #26af5f;
    box-shadow: 0px 6px 30px 3px #bdbdbd;
}


/* --- Our Team --- */

#team_section {
    margin-bottom: 5%;
    padding-top: 5%;
}

.team {
    max-width: 75%;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 2%;
}

.team_wrapper {
    width: 22.3%;
    height: 30%;
    display: inline-block;
    margin-left: 2.1%;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

.team_wrapper img {
    width: 100%;
    height: 100%;
}

.team_wrapper img:hover,
.team_wrapper span:hover~img {
    /*box-shadow: 0px 16px 15px -5px #616161;*/
    box-shadow: 5px 22px 60px 0px #959595;
    /* Black in White effect */
    filter: gray;
    /* for IE5+ */
    -webkit-filter: grayscale(1);
    transition: all 0.5s 0.05s cubic-bezier(0.53, -0.62, 0.46, 1.76);
    /* chrome */
}

.team_wrapper span {
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    width: 100%;
    position: absolute;
    height: 30%;
    z-index: 2;
    left: 2%;
    top: 67%;
    margin-top: 36.6%;
    transition: all 0.3s cubic-bezier(0.48, 0.01, 0.43, 1.65);
}


/*.team_wrapper span:not(:first-child) {
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    width: 100%;
    position: absolute;
    height: 30%;
    z-index: 2;
    left: 2%; 
    top: 67%;
    margin-top: 36.6%;
    transition: all 0.3s cubic-bezier(0.48, 0.01, 0.43, 1.65);
}

.post {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    position: absolute;
    height: 13%;
    z-index: 3;
    left: 2%;
    transition: all 0.3s cubic-bezier(0.48, 0.01, 0.43, 1.65);
}

.post h3 {
    font-family: 'montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    color: #414141;
    margin-top: 2%;
}*/

.team_wrapper:hover>span {
    opacity: 1;
    /* <==  span tag  hovever */
    display: block;
    margin: 0.2%;
}

.team_wrapper span img {
    /*width: 25px;
    height: 25px;*/
    width: 15%;
    height: 30%;
    display: inline-block;
    margin: auto;
    box-shadow: none;
    z-index: 1;
    margin-left: 5%;
    /*cursor: pointer;*/
}

.team_wrapper span img:hover {
    opacity: 1 !important;
    box-shadow: none;
    filter: none;
    /* for IE5+ */
    -webkit-filter: none;
}

.social {
    max-width: 80%;
    margin: auto;
    font-family: 'montserrat', sans-serif;
}

.social h3 {
    color: rgba(0, 0, 0, 0.84);
    font-size: 1.5vw;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    word-spacing: 5px;
}

.social img {
    opacity: 0.9;
}

.facebook:hover {
    content: url('images/icons/facebook2.png');
}

.twitter:hover {
    content: url('images/icons/twitter2.png');
}

.github:hover {
    content: url('images/icons/github2.png');
}

.instagram:hover {
    content: url('images/icons/instagram2.png');
}


/* --- Review --- */


.first {
    display: block;
}

.second, .third {
    display: none;
}

#review_section {
    background: url("images/review_backround2.jpg") no-repeat center;
    background-size: cover;
    background-position: center;    
}

.review_container {
    max-width: 50%;
    min-width: 30%;
    margin: auto;
    padding-top: 6.5%;
    padding-bottom: 6.5%;
    font-family: 'montserrat', sans-serif;
    /*padding-top: 6%;
    padding-bottom: 6%;*/
}

.review_wrapper {
    /*
    display: block;
    margin: auto 0;*/
    background-color: white;
    /*margin-top: 10%;*/
    border-radius: 3.5px;
    box-shadow:  0px 0px 20px 8px rgba(0, 0, 0, 0.48);
    transition:  all 0.3s cubic-bezier(0.51, -0.32, 0.46, 1.39);
    cursor: pointer;
}

.review_wrapper:hover {
    box-shadow:  0px 0px 20px 8px rgba(180, 180, 180, 0.18);
}

.review {
    padding-top: 3%;
    padding-bottom: 3%;
    height: 200px;
    
    /*padding-bottom: 2%;*/
}


.review .clippath_border {
    
    position: relative;
    
    /*width: 140px;
    height: 140px;*/
    
    width: 115px;
    height: 115px;
    
    display: block;
    margin: 0 auto;
    margin-bottom: 2.5%;
    background-color: #26af5f;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    
}

.review img {
    
    position: absolute;
    top: 2.2%;
    left: 2.2%;    
    
    /*width: 132px;
    height: 132px;*/
    
    width: 110px;
    height: 110px;
    
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.review p {
    max-width: 72%;
    display: block;
    margin: auto;
    color: rgba(52, 52, 52, 0.75);
    /*margin-top: 5%;*/
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    font-weight: 600;
}


/* -- Circles -- */

.review_dots {
    text-align: center;
    padding-bottom: 5%;
}

.circles {
    display: inline-block;
    position: relative;
    
    width: 20px;
    height: 20px;
    
    margin-left: 4px;
    background-color: rgba(38, 175, 95, 0.6);
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: all 0.4s cubic-bezier(0.27, -0.23, 0.46, 2.79);
}

.active_review {
    background-color: #26af5f !important;
}

.active_inner_circle {
    position: absolute;
    top: 17%;
    left: -3%;
    width: 13px;
    height: 13px;
    
    margin-left: 4px;
    background-color: white;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.review_wrapper:hover .review_dots .active_review {
    background-color: #fd3f3f !important;
}


                /* - - - -  Partners  - - - - */

#partners {
    margin-top: 5%;
    margin-bottom:5%;
    margin-bottom:5%;
}

.parners_wrapper {
    max-width: 70%;
    min-width: 60%;
    margin: 0 auto;
}

.parners_wrapper a {
    text-decoration: none;
}

.parners_wrapper img {
    display: inline-block;
    margin-left: 6%;
    /* for IE5+ */
    filter: gray;
    /* chrome */
    -webkit-filter: grayscale(0.95);
    
    transition: all 0.3s;
}
.parners_wrapper img:hover {
    filter: none;
    /* chrome */
    -webkit-filter: none;
}


                /* - - - - Blog - - - - */

#blog_section {
    background-color: #f8f8f8;
    font-family: 'montserrat', sans-serif;
}

.blog_wrapper {
    /*padding-top: 6%;*/
    max-width: 75%;
    display: block;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 5.5%;
}

.blog_title{
    color: #1f1f1f;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 6%;
}

.blog {
    /*max-width: 21.5%;*/
    width: 27%;
    display: inline-block;
    margin-left: 4.7%;
    background-color: white;
    border-radius: 1.5%;
    cursor: pointer;
    box-shadow:0 0 9px 4px #d1d1d1;
    transition: all 0.3s;
}

.blog:hover {
    box-shadow:  -8px 9px 9px 0px #d1d1d1;
}

.blog_image {
    width: 100%;
    filter: blur(2px);
    filter: gray;
    -webkit-filter: grayscale(0.89);
    transition: all 0.3s;
}

.blog:hover > .blog_image {
    filter: none;
}

.blog_content {
    margin: 8%;
    margin-right: 6%;
    margin-bottom: 10%;
}

.blog_content h3 {
    font-size: 17.5px;
    letter-spacing: 0.2px;
    color: #434242;
    text-align: left;
    margin-bottom: 5%;
}

.blog_content p {
    font-size: 10.5px;
    line-height: 15px;
    color: #777575;
    text-align: left;
    font-weight: 600;
    margin-bottom: 12%;
}

.time p, .comment p {
    opacity: 0.8;
    font-size: 9.2px;
}

.time {
    float: left;
    min-width: 26%;
}

.time img {
    float: left;
}

.time p {
    float: right;
}

.comment {
    float: right;
    min-width: 34%;
}

.comment img {
    float: left;
}

.comment p {
    float: right;
}

                /* - - - - Contact Us - - - - */

#contact_section {
    background: url("images/contact_background.jpg") no-repeat center;
    background-size: cover;
}

.contact_container {
    width: 100%;
    height: 500px;
}